<div id="full_grad">
		<a href="/"><%= image_tag "logo_blue.png", class: :logo %></a>

		<!-- HOME NAVBAR -->
		<nav>
			<ul>
				<li><a href=""><i class="fa fa-facebook-official"></i></a></li>
				<li><a href=""><i class="fa fa-soundcloud"></i></a></li>
				<li><a href=""><i class="fa fa-twitter"></i></a></li>
				<li><a href=""><i class="fa fa-tumblr"></i></a></li>
			</ul>
		</nav>

		<!-- MAIN FORM -->
		<div id="sign_wrap">
			<div class="centered-text">
				<h2>CREATE YOUR FREE ACCOUNT</h2>
			</div>
			
			<%= render 'form' %>
		
			<h3>ALREADY HAVE AN ACCOUNT? <a href="/log-in"><strong>SIGN IN</strong></a></h3>

		</div>
		
		<!-- SIGNUP/SIGNIN FOOTER -->
		<div class="terms">
			<ul>
				<li><h5>FORGOT PASSWORD? • </h5></li>
				<li><h5>PRIVACY POLICY • </h5></li>
				<li><h5>CONTACT</h5></li>
			</ul>
		</div>
</div>


 

