<!-- HOME WRAPPER -->
<div id="home_wrapper">
   <a href="/"><%= image_tag "logo_bw.png", class: :logo %></a>
   <!-- HOME NAVBAR -->
   <nav>
      <ul>
         <li><a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook-official fa-2x"></i></a></li>
         <li><a href="http://www.soundcloud.com" target="_blank"><i class="fa fa-soundcloud fa-2x"></i></a></li>
         <li><a href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
         <li><a href="http://www.tumblr.com" target="_blank"><i class="fa fa-tumblr fa-2x"></i></a></li>
      </ul>
   </nav>
   <button class="home-btn">
      <a class="whitelinks" href="/users/new">
         <h2>START HERE</h2>
      </a>
   </button>
   <!-- HOMEPAGE FOOTER © -->
   <footer>
      <hr>
      <h6>created by Joe Gigs & Jose Plata</h6>
   </footer>
</div>