/* 

       ༼ つ ◕_◕ ༽つ CSS!

====== COLOR REFERENCES =======
BLUE COLOR: #8BECE8; 
PURPLE COLOR: #50125E;
PINK COLOR: #FE1FF7;
REAL PINK: #EC2874;
===============================

*/

/*========================================
   FULL STYLING HTML/BODY AND ANIMATIONS
=========================================*/

html {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */ }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
body {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%; }


/*========================================
                HOME STYLING
=========================================*/
.logo {
  width: 120px;
  margin-left: 50px;
  margin-top: 20px; }

nav li {
  list-style: none;
  display: inline;
  padding: 5px;
  color: #50125E; }
  nav li a:hover {
    color: #8BECE8;
    transition-delay: 0.2s;
    /* delays for 1 second */
    -webkit-transition-delay: 0.2s;
    /* for Safari & Chrome */
    transition: all 300ms linear; }
nav ul {
  float: right;
  margin-right: 50px;
  margin-top: 30px; }

#home_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  background: url('background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.logo {
  float: left; }

.home-btn {
  margin-top: 580px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  display: block;
  background-color: #50125E;
  text-align: center;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 0px 40px #cfcfcf; }
  .home-btn h2 {
    padding: 0px; }
  .home-btn:hover {
    background-color: #fe1ff7;
    cursor: hand;
    transition-delay: 0.2s;
    /* delays for 1 second */
    -webkit-transition-delay: 0.2s;
    /* for Safari & Chrome */
    transition: all 300ms linear; }

footer {
  width: 100%;
  height: 100px;
  margin-top: 100px; }
  footer hr {
    width: 200px; }


/*========================================
                TEXT FORMATTING 
=========================================*/

a {
  text-decoration: none; }

h1 {
  font-size: 30px;
  color: white;
  font-family: "Josefin Sans", monospace;
  letter-spacing: 4.5pt; }

h2 {
  font-size: 12px;
  font-family: "Josefin Sans", monospace;
  font-weight: 300;
  color: white;
  letter-spacing: 3pt; }

h3 {
  font-size: 11px;
  font-family: "Josefin Sans", monospace;
  font-weight: 700;
  letter-spacing: 3px;
  color: white; }

h5 {
  font-size: 8px;
  font-family: "Josefin Sans", monospace;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #8BECE8; }

h6 {
  font-size: 6px;
  font-family: "Josefin Sans", monospace;
  font-weight: 400;
  color: #50125E;
  letter-spacing: 2pt;
  text-transform: uppercase; }

a {
  text-decoration: none; }

/*========================================
        SING UP/LOG IN PAGE ELEMENTS
=========================================*/
.whitelinks {
  text-decoration: none;
  color: white;
  transition-delay: 0.2s;
  /* delays for 1 second */
  -webkit-transition-delay: 0.2s;
  /* for Safari & Chrome */
  transition: all 200ms linear; }
  .whitelinks:hover {
    text-decoration: none; }

.form_fields {
  border: none;
  border-bottom: 1px solid #b2b2b2;
  width: 400px;
  font-family: "Josefin Sans", monospace;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #c4c4c4;
}

.submit_button {
  border: none;
  border-radius: 10px;
  background-color: #FE1FF7;
  text-align: center;
  font-family: "Josefin Sans", monospace;
  font-weight: 300;
  font-size: 12px;
  color: white;
  letter-spacing: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 8px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.submits {
  margin: 0 auto;
  text-align: center;
}

.file_field{
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  text-align: center;
  font-family: "Josefin Sans", monospace;
  font-weight: 300;
  font-size: 12px;
  color: #c4c4c4;
  letter-spacing: 5px;
  padding: 8px;
}

#full_grad {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: -webkit-linear-gradient(#fe1ff7, #50125E);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fe1ff7, #50125E);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fe1ff7, #50125E);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fe1ff7, #50125E);
  /* Standard syntax */ }
  #full_grad ul li i {
    color: #8BECE8; }
    #full_grad ul li i:hover {
      color: #fff;
      transition-delay: 0.2s;
      /* delays for 1 second */
      -webkit-transition-delay: 0.2s;
      /* for Safari & Chrome */
      transition: all 200ms linear; }

#sign_wrap {
  display: inline;
  position: relative;
  width: 1000px; }
  #sign_wrap .centered-text {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto; }
    #sign_wrap .centered-text h2 {
      font-weight: 700; }
  #sign_wrap .form {
    background-color: white;
    margin: 0 auto;
    width: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    border-style: 1px solid white;
    border-radius: 20px; }
  #sign_wrap .pink-btn {
    background-color: #fe1ff7;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #fe1ff7;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0; }
  #sign_wrap h3 {
    text-align: center;
    margin: 20px auto; }
    #sign_wrap h3 a {
      text-decoration: underline;
      color: #8BECE8; }
      #sign_wrap h3 a:hover {
        color: white;
        transition-delay: 0.2s;
        /* delays for 1 second */
        -webkit-transition-delay: 0.2s;
        /* for Safari & Chrome */
        transition: all 200ms linear; }

.terms {
  width: 100%;
  text-align: center;
  margin-top: 80px;
  margin-left: -20px; }
  .terms ul li {
    display: inline-block; }

/*========================================
          PROFILE PAGE ELEMENTS 
=========================================*/
/* INITIAL ELEMENTS */
.all_nav i {
  color: #EC2874;
}

.all_nav i:hover {
  color: #8BECE8;
  transition-delay: 0.2s;
  /* delays for 1 second */
  -webkit-transition-delay: 0.2s;
  /* for Safari & Chrome */
  transition: all 300ms linear; }

/* MID ELEMENTS */
/* (LEFT SIDE) */
.all_wrapper {
  background-color: #EAFAFA;
  width: 100%;
  height: 100vh;
  position: absolute;
  padding-top: 0px;
  bottom: 0;
}

#prof_info {
  margin-top: 120px;
  max-width: 200px;
  float: left;
  text-align: center;
  display: inline-block;
  position: relative;
}

#prof_info h2 {
  color: #7e7e7e;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#prof_info .tapes_shared {
  background-color: black;
  max-width: 200px;
  color: white;
  margin-top: -4px;
  padding: 5px;
}

#prof_info .tapes_shared h2 {
  color: white;
}

#prof_info hr {
  border: 1px solid #7E7E7E;
}

.prof_pic img {
  margin-top: 10px;
  max-width: 200px;
}

#to_mixtape {
  position: absolute;
  margin-top: 480px;
  margin-left: 160px;
}

#sign_out {
  position: absolute;
  margin-top: 630px;
  margin-left: 240px;
  text-align: center;
  font-family: "Josefin Sans", monospace;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 12px; 
}

#sign_out:hover {
  text-decoration: underline;
}

/* (RIGHT SIDE) */

#tapelist{
  float: left;
  width: 650px;
  display: inline-block;
  position: relative;
  margin-top: 120px;
  margin-left: 200px;
}

#tapelist h2{
  color: #7e7e7e;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#tapelist hr {
  border: 1px solid #7E7E7E;
}

/* FOOTER ELEMENTS */
.all_footer {
  text-align: center;
  width: 100%;
  height: 40px;
  color: #c4c4c4;
  font-family: "Josefin Sans", monospace;
  font-size: 10px;
  position: fixed;
  bottom: 25px;
  background-color: #EAFAFA;
}
  .all_footer hr{
    color: #c4c4c4;
  }

  .copyright {
    color: #c4c4c4;
    font-family: "Josefin Sans", monospace;
    font-size: 15px;
    letter-spacing: 3px;
  }

  /*========================================
            NEW TRACK PAGE ELEMENTS 
  =========================================*/
.newtape {
  margin-top: 120px;
  max-width: 200px;
  float: left;
  text-align: center;
  display: inline-block;
}

.tape_form {
  border: none;
  width: 250px;
  border-bottom: 2px solid #c4c4c4;
  background-color: none;
  font-family: "Josefin Sans", monospace;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

#description {
  width: 250px;
  height: 200px;
  font-family: "Josefin Sans", monospace;
  letter-spacing: 2px;
  font-size: 12px;
  text-align: left;
  border-bottom: none;
  border-style: none;
}

#songs {
  margin-top: 130px;
  margin-left: 280px;
  width: 400px;
  display: inline-block;
}

.create_button{
  background-color: #EC2874;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "Josefin Sans", monospace;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;  
  padding: 10px;
}

.create_button:hover{
  background-color: #8BECE8;
  box-shadow: 0px 0px 40px #cfcfcf; 
  transition-delay: 0.2s;
  /* delays for 1 second */
  -webkit-transition-delay: 0.2s;
  /* for Safari & Chrome */
  transition: all 300ms linear;
}

/*========================================
                TRACK PAGE 
=========================================*/
.all_nav_tape {
  background-color: #EAFAFA;
  height: 80px;
}

.all_nav_tape i {
  color: #EC2874;
}

.all_nav_tape i:hover {
  color: #8BECE8;
  transition-delay: 0.2s;
  /* delays for 1 second */
  -webkit-transition-delay: 0.2s;
  /* for Safari & Chrome */
  transition: all 300ms linear; }

.tape_page_wrapper{
  background-color: black;
  width: 100%;
  height: 100vh;
  position: absolute;
  padding-top: 0px;
  bottom: 0;
}

#tape_page_for_user {
  margin-top: 80px;
  width: 800px;
  margin-left: 300px;
}

#tape_page_for_user h2{
  color: white;
}

#message_block {
  width: 800px;
  margin-left: 300px;
  display: block;
}

#message_block h3{
  display: block;
  font-family: "Josefin Sans", monospace;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
  line-height: 20px;
  color: white;  
  text-align: justify;
}

.tape_page_footer {
    text-align: center;
    width: 100%;
    height: 40px;
    color: white;
    font-family: "Josefin Sans", monospace;
    font-size: 10px;
    position: fixed;
    bottom: 25px;
}

.tape_page_footer hr{
    color: white;
}

/*========================================
              LINK POP-UP 
=========================================*/


/*# sourceMappingURL=main.css.map */
